.Payments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48vh;
    gap: 20px;
    margin-top: 40px;
    .icon{
        font-size: 3rem;
    }
}